*{
    font-family: "Nunito Sans";
}
.background-header{
    background-image: url(winter.jpg);
    height: 700px;
    object-fit: cover;
}
.starting-part{
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
    /*object-fit: cover;*/
}
.navigation{
    display: flex;
}
.price-reviews{
    padding: 15px;
}
.phone{
    display: flex;
    align-items: flex-end;
}
.icon-phone{
    width: 18px;
    height: 18px;
    padding-right: 12px;
}